body {
  margin: 30px 100px;
}

/* Header component styling */
header h2 {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
  font-family: "Acme", sans-serif;
}

header p {
  text-align: center;
  color: black;
  margin: 0px 200px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.CNN-source {
  font-style: italic;
  color: red;
}

/* Statusbar component styling */
.statusbar-container {
  margin-top: 30px;
}

.statusbar-container h4 {
  text-align: center;
  font-size: 15px;
  color: gray;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 0px 50px;
}

.flex-container > div {
  width: 80px;
  text-align: center;
}

div .progress-bar-container {
  width: 90%;
  margin-top: 50px;
}

.progress {
  height: 30%;
}

.fa-democrat {
  float: left;
  color: blue;
  margin: 0px 8px;
}

.fa-republican {
  float: right;
  color: red;
  margin: 0px 8px;
}

.party-seats {
  font-weight: bold;
  font-size: 40px;
}

.statusbar-container p,
.side-container {
  margin: 0px;
}

.party {
  font-size: 13px;
}

/* Graphs component styling */

.graphs-header,
.article-list-header {
  font-family: "Acme", sans-serif;
}

.graphs-header {
  margin-bottom: 30px;
}

.graphs-row-one {
  display: flex;
  justify-content: space-evenly;
}

.graphs-row-two {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Article component styling */

.article-list-header {
  margin-top: 30px;
}

.flex-container > div {
  margin: 20px;
}

.card-text {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

/* Footer component styling */

.footer-header {
  color: #9578e6;
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.header-border-container {
  display: flex;
  justify-content: center;
}

.header-border-container > div {
  width: 250px;
  height: 50px;
  margin-top: 15px;
  border-top: 3px double gray;
}
.footer-content img {
  width: 5%;
  height: 5%;
}

.footer-content p {
  margin: 0px 15%;
  font-family: "Raleway", sans-serif;
}

.footer-favicons {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.footer-favicons img {
  width: 3%;
  height: auto;
}
