.body-content {
  margin: 30px 100px;
}

header h2 {
  text-align: center;
  color: blue;
}

header p {
  text-align: center;
  color: red;
  margin: 0px 200px;
}

.CNN-source {
  font-style: italic;
}
