body {
  margin: 30px 100px;
}

header h2 {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}

header p {
  text-align: center;
  color: black;
  margin: 0px 200px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.CNN-source {
  font-style: italic;
  color: red;
}
